<div class="container-fluid">
    <div class="col-md-4">
  
    </div>
    <div class="col-md-3" style="border:lightcoral solid 2px">
    <h3>
      Your order 
    <span *ngIf="result!=0"> {{result}} </span>  
    <span *ngIf="result2!=0">{{result2}} </span>has been placed successfully.
    </h3>
  </div>
  <div class="col-md-3">
  
  </div>
  </div>
  