<div class="col-md-2 col-sm-3">

</div>
<div class="col-md-6 col-sm-3 container panel panel-body">
  <h2>User Registration</h2>

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
    <div class="form-group">
      <label for="fullname">FullName</label>

      <input type="text" class="form-control" #Reffname="ngModel" minlength="4" name='fname' placeholder="Enter firstname" required
        [(ngModel)]="userlist.fname">

      <div *ngIf="Reffname.errors && (Reffname.dirty || Reffname.touched)" class="alert alert-danger">
        <div [hidden]="!Reffname.errors.required">
          please enter fullname
        </div>
        <div [hidden]="!Reffname.errors.minlength">
          please enter atleast 4 number
        </div>

      </div>
      <div class="form-group">
        <label for="Emailid">Emailid</label>
        <input type="text" class="form-control" #Refemail="ngModel" name="mailid" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          placeholder="Enter mailid" required [(ngModel)]="userlist.mailid">
        <div *ngIf="Refemail.errors && (Refemail.dirty || Refemail.touched)" class="alert alert-danger">
          <div [hidden]="!Refemail.errors.required">
            please enter emailid
          </div>
          <div [hidden]="!Refemail.errors.pattern">
            please enter valid Emailid
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" #Refpassword="ngModel" minlength="4" name="password" placeholder="Enter password"
        required [(ngModel)]="userlist.password">
      <div *ngIf="Refpassword.errors && (Refpassword.dirty || Refpassword.touched)" class="alert alert-danger">
        <div [hidden]="!Refpassword.errors.required">
          please enter password
        </div>
        <div [hidden]="!Refpassword.errors.minlength">
          please enter atleast 4 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="Gender">Gender</label>
      <input type="radio" name="gender" value="Male" [(ngModel)]="userlist.gender">Male
      <input type="radio" name="gender" value="Female" [(ngModel)]="userlist.gender">Female


    </div>
    <div class="form-group">
      <label for="city">city</label>
      <input type="text" class="form-control" #Refcity="ngModel" name="city" placeholder="Enter city" required [(ngModel)]="userlist.city">
      <div *ngIf="Refcity.errors && (Refcity.dirty || Refcity.touched)" class="alert alert-danger">
        <div [hidden]="!Refcity.errors.required">
          please enter city name
        </div>

      </div>

    </div>
    <div class="form-group">
      <label for="mobile">mobile</label>
      <input type="text" class="form-control" #Refmobile="ngModel" name="mobile" pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$"
        placeholder="Enter mobilenumber" required [(ngModel)]="userlist.mobile">
      <div *ngIf="Refmobile.errors && (Refmobile.dirty || Refmobile.touched)" class="alert alert-danger">
        <div [hidden]="!Refmobile.errors.required">
          please enter mobilenumber
        </div>
        <div [hidden]="!Refmobile.errors.pattern">
          please enter valid mobile number
        </div>

      </div>
    </div>
    <div class="form-group">
      <label for="pincode">pincode</label>
      <input type="text" class="form-control" #Refpin="ngModel" pattern="^[1-9][0-9]{5}$" name="pincode" placeholder="Enter pincode"
        required [(ngModel)]="userlist.pincode">
      <div *ngIf="Refpin.errors && (Refpin.dirty || Refpin.touched)" class="alert alert-danger">
        <div [hidden]="!Refpin.errors.required">
          please enter pincode
        </div>
        <div [hidden]="!Refpin.errors.pattern">
          please enter 5 digits valid pincode
        </div>

      </div>
    </div>
    <div>

    </div>
    <div class="form-group  col-md-6 col-sm-6">
      <button [disabled]="!userForm.form.valid" type="submit" class="btn btn-primary">Registration</button>


    </div>
    <div class="form-group col-md-6 col-sm-6">
      <a routerLink="/Login">click to login ?</a>

    </div>


  </form>

</div>
<router-outlet></router-outlet>