<div class="container-fluid">
  <div class="container-fluid col-md-4 col-xs-12 col-sm-12">

  </div>
  <div class="container-fluid">
    <table class="table table-bordered table-condensed hover" style="text-align:center">
      <thead>
        <th>Order No</th>
        <th>Name</th>
        <th>Product Image</th>
        <th>Price</th>
        <th>Ordered Qty</th>


      </thead>
      <tbody>
        <tr *ngFor="let order of orderItems;let i=index">

          <td>{{order.orderId}}</td>

          <td>{{order.Name}}</td>

          <td>
            <img [src]='order.url' style="width:75px;height:40px" />

          </td>

          <td>{{order.price | currency:'USD':true}}</td>
          <td>{{order.orderedQty}}</td>
        </tr>

        <tr *ngIf="!orderItems|| orderItems.length==0">
          <td colspan=" 7 ">no record to display</td>

        </tr>

      </tbody>
    </table>

  </div>
  <div class="container-fluid col-md-4 col-xs-12 col-sm-12 ">

  </div>
</div>