<div class="col-md-2 col-sm-3">

</div>
<div class="col-md-6 col-sm-3 container panel panel-body">
  <h2>Login Page</h2>


  <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform.value)" novalidate>

    <div class="form-group">
      <label for="name">EmailID</label>
      <input type="text" class="form-control" placeholder="Enter emailID" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #Refemail="ngModel" required [(ngModel)]="username" name="username">
      <div *ngIf="Refemail.errors && (Refemail.dirty || Refemail.touched)" class="alert alert-danger">
        <div [hidden]="!Refemail.errors.required">
          please enter EmailID
        </div>
        <div [hidden]="!Refemail.errors.pattern">
          please enter valid emailid
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" placeholder="Enter password" name="password" #Refpwd="ngModel" [(ngModel)]="password"
        required>
      <div *ngIf="Refpwd.errors && (Refpwd.dirty || Refpwd.touched)" class="alert alert-danger">
        <div [hidden]="!Refpwd.errors.required">
          please enter password
        </div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="!loginform.form.valid" type="submit" class="btn btn-success">Login</button>
      <a routerLink="/ForgotPwd">Forgotpassword ?</a>
    </div>
    <div>
      <a routerLink="/Registration">Click To Registration ?</a>
    </div>

    {{userlist | json}}



  </form>

</div>