<div class="container" style="top:139px;">
    <div class="col-md-4">
      <form #contactform="ngForm" (ngSubmit)="onSubmit(contactform.value)" novalidate>
        <label for="fname">FullName</label>
        <input type="text" class="form-control" placeholder="Enter Fullname" #Reffname="ngModel" required [(ngModel)]="fname" name="fname">
        <div *ngIf="Reffname.errors && (Reffname.dirty || Reffname.touched)" class="alert alert-danger">
            <div [hidden]="!Reffname.errors.required">
              please enter Fullname
            </div>
        </div>    
        <label for="email">EmailID</label>
        <input type="text" class="form-control" placeholder="Enter emailID" #Refemail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #Refemail="ngModel"
          required [(ngModel)]="username" name="username">
        <div *ngIf="Refemail.errors && (Refemail.dirty || Refemail.touched)" class="alert alert-danger">
          <div [hidden]="!Refemail.errors.required">
            please enter EmailID
          </div>
          <div [hidden]="!Refemail.errors.pattern">
            please enter valid emailid
          </div>
    </div>
    <label for="fname">Mobile Number</label>
        <input type="text" class="form-control" placeholder="Enter Mobilenumber" #Refmobile="ngModel" required [(ngModel)]="mobile" name="mobile" pattern="^[789]\d{9}$">
        <div *ngIf="Refmobile.errors && (Refmobile.dirty || Refmobile.touched)" class="alert alert-danger">
            <div [hidden]="!Refmobile.errors.required">
              please enter Mobile Number
            </div>
            <div [hidden]="!Refmobile.errors.pattern">
                please enter valid Mobilenumber
              </div>
        </div>
    <label for="message">Enter message</label>
    <textarea class="form-control" placeholder="enter message" #Refmessage="ngModel"  rows="4" cols="50"  required [(ngModel)]="message" name="message">
        <div *ngIf="Refmessage.errors && (Refmessage.dirty || Refmessage.touched)" class="alert alert-danger">
            <div [hidden]="!Refmessage.errors.required">
              please enter Message
            </div>
        </div>      
    </textarea>    
    <br>
    <div class="form-group">
      <button [disabled]="!contactform.form.valid" type="submit" class="btn btn-success">Submit</button>
  
      <!-- <a routerLink="/Forgotpwd">Forgot password ?</a> -->
  
    </div>
    </form>
  
  </div>
  </div>