<div class="col-md-2 col-sm-3">

</div>
<div class="col-md-5 col-sm-3 panel panel-body">
  <h2>Forget password</h2>

  <form #forgetform="ngForm" (ngSubmit)="onSubmit(forgetform.value)" novalidate>
    <div class="form-group">
      <label for="email">Enter emailID</label>
      <input type="text" class="form-control" placeholder="enter emailid" name="emailid" placeholder="Enter emailID" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        #Refemail="ngModel" required [(ngModel)]="mailID">
      <div *ngIf="Refemail.errors && (Refemail.dirty || Refemail.touched)" class="alert alert-danger">
        <div [hidden]="!Refemail.errors.required">
          please enter EmailID
        </div>
        <div [hidden]="!Refemail.errors.pattern">
          please enter valid emailid
        </div>


      </div>

    </div>
    <div>
      <button [disabled]="!forgetform.form.valid" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</div>