<div class="container-fluid">
  <div class='col-xs-12 col-sm-12 col-md-12'>
    <div class="container">
      <!-- Default panel contents -->
      <div class="col-md-12">
        <div class="col-md-6" style="padding-left:0;">
          <h4>Product List</h4>
        </div>
        <div class="col-md-4 " style="padding:0px">
          <input type="text" class="form-control pull-left" id="inputName" [(ngModel)]="inputName" placeholder="Search" name="search">
        </div>
        <div class="col-md-2" style="padding-right:0">
          <button type="submit" class="btn btn-success form-control" (click)="FilterByName()" value="Apply">Search</button>
        </div>
      </div>
      <div class='panel-body'>
        <table class="table table-bordered table-condensed hover" style="text-align:center">
          <thead>
            <th>Item ID</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredItems">
              <td>{{item.id}}</td>
              <td>
                <a (click)="onItemClick(item)">{{item.Name}}</a>
              </td>
              <td>
                <img [src]='item.url' style="width:75px;height:60px" />

              </td>

              <td>{{item.price}}</td>

            </tr>
            <tr *ngIf="!items||items.length==0">
              <td colspan="3">
                No matching records
              </td>

            </tr>
          </tbody>
        </table>

        
        
      </div>
    </div>


  </div>

</div>