/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */
  
.navbar,nav{
    background-color:#e0dada;
}
table  thead th{
    text-align: center !important;
    background: rgba(92, 128, 161, 0.575);
    color: #fff;
    padding:5px;
}
table tr td{
    vertical-align: middle !important;
}
table tr td a{
    cursor: pointer;
}
.hover td img{
    transition: transform .2s; /* Animation */
}
.hover td img:hover{
    transform: scale(2.5);
}

.navbar li a{
    color: #000;
}