<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/Home">
        <img src="./assets/Images/logo.png" width="100px;">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/Home">
          <i class="glyphicon glyphicon-home"></i>&nbsp;Home</a>
      </li>
      <li>
        <a routerLink="Contact">
          <i class="glyphicon glyphicon-send"></i>&nbsp;Contact us</a>
      </li>
      <li>
        <a routerLink="Orders">
          <i class="glyphicon glyphicon-lock"></i>&nbsp;Orders</a>
      </li>
      <li *ngIf="showUsers">
        <a routerLink="UsersList">
          <i class="glyphicon glyphicon-list-alt"></i>&nbsp; userList</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a>
          <i class="glyphicon glyphicon-user"></i>&nbsp;Welcome&nbsp;{{user}}</a>
      </li>
      <li>
        <a routerLink="./Carts">
          &nbsp;
          <span>{{selectedQty}}</span>Cart
          <i class="glyphicon glyphicon-shopping-cart"></i>
        </a>
      </li>
      <li>
        <a>&nbsp;
          <a (click)='logout()'>Logout</a>
        </a>
      </li>
    </ul>
  </div>
</nav>


<section class="conatiner">

  <router-outlet></router-outlet>
  </section>

  <!-- <div class="footer" style="bottom:30px">
  <h3 style="text-align: center">Copy right @kvb</h3>
</div> -->