<div class="container">
  <div class="row" style="padding:0px;margin:0px">
    <div class="col-md-4">
      <table>
        <tr>
          <th>Product</th>
        </tr>
        <tr>
          <td>
            <img [src]='items?.url' style="width:350px;padding:4px;border:1px solid papayawhip;border-radius: 10px">
          </td>
        </tr>
        <br/>

      </table>
      <div class="col-xs-12 col-sm-8 col-md-12 form-group">
        <div class="col-xs-12 col-sm-8 col-md-4 form-group">
          <!-- <button id="btncart" class="btn btn-success" (click)="addtocart()">add to cart</button>&nbsp; -->
          <button id="btncart" class="btn btn-success" (click)="addtocart()">add to cart</button>&nbsp;
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4 form-group">
          <button id="btnbuy" class="btn btn-success" (click)="BuyNow(items)">BuyNow</button>
          <!-- routerLink='../../checkout'-->

        </div>
        <div class="col-xs-12 col-sm-8 col-md-4 form-group">

          <select [(ngModel)]="selectedQty" class="form-control">
             
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h4>Product details</h4>
      <ul style="text-align:justify">
        <li> ID :
          <span style="color:blue;font-weight:bold">{{items.id}}</span>
        </li>
        <br>
        <li> NAME :
          <span style="color:blue;font-weight:bold">{{items.Name}}</span>
        </li>
        <br>
        <li> DESCRIPTION :
          <span style="color:blue;font-weight:bold">{{items.longDesc}}</span>
        </li>
        <br>
        <li> PRICE :
          <span style="color:blue;font-weight:bold">{{items.price | currency:'USD':true}}</span>
        </li>       
      </ul>

    </div>


  </div>

</div>