<div class="container-fluid">
  <div class="col-sd-12 col-sm-12 col-md-4">

  </div>

  <div class="container-fluid">
    <div class='col-xs-12 col-sm-12 col-md-12'>
      <div class="container">
        <!-- Default panel contents -->
        <div class="col-md-12">
          <div class="col-md-6" style="padding-left:0;">
            <h4>Orders</h4>
          </div>

        </div>
        <div class='panel-body'>
          <table class="table table-bordered table-condensed hover" style="text-align:center">
            <thead>
              <th>Item ID</th>
              <th>Item</th>
              <th>Product Image</th>
              <th>Price</th>
              <th>Qty Ordered</th>
            </thead>
            <tbody>
              <tr *ngFor="let cart of cartsItemsList">
                <td>{{cart.id}}</td>
                <td>{{cart.Name}}</td>
                <td>
                  <img [src]='cart.url' style="width:75px;height:40px" />
                </td>
                <td>{{cart.price}}</td>
                <td>{{cart.orderedQty}}</td>
              </tr>
              <tr *ngIf="!cartsItemsList|| cartsItemsList.length==0">
                <td colspan="7">No Items in the Cart</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='col-xs-6 col-sm-6 col-md-6'>
        
      </div>
      <div class='col-xs-6 col-sm-6 col-md-6'>
          <button id="btnbuy" class="btn btn-success" (click)="checkOut(cart)">CheckOut</button>
        </div>
    </div>

  </div>



</div>